#red-team-container {
  height: 500px;
  float: left;
  width: 30%;
  display: grid;
  grid-template-rows: repeat(3, 33.3%)
}

#board-container {
  float: left;
  width: 40%;
}

#blue-team-container {
  height: 500px;
  float: left;
  width: 30%;
  display: grid;
  grid-template-rows: repeat(3, 33.3%)
}




#board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
}

#general-container {
  padding-top: 40px;
}

.box {
  border: 1px solid rgb(220, 225, 230);
  border-radius: 4px;
}

/* styling for card area */

#red-card-2-move, #red-card-1-move, #blue-card-1-move,  #blue-card-2-move {
  padding-top: 4px;
  padding-left: 4px;
  display: inline-grid;
  text-align: center;
  width: 120px;
  height: 120px;
  grid-template-columns: repeat(5, 12%);
  grid-template-rows: repeat(5, 12%);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  background-color: rgb(21, 195, 218);
}

span{
  background-color: blanchedalmond;
}

.move {
  background-color: red; 
  color: black;
}

.character {
  background-color: black;
}