#red-team-container {
  height: 500px;
  float: left;
  width: 30%;
  display: grid;
  grid-template-rows: repeat(3, 33.3%)
}

#board-container {
  float: left;
  width: 40%;
}

#blue-team-container {
  height: 500px;
  float: left;
  width: 30%;
  display: grid;
  grid-template-rows: repeat(3, 33.3%)
}



#card-move {
  padding-top: 4px;
  padding-left: 4px;
  display: inline-grid;
  text-align: center;
  width: 120px;
  height: 120px;
  grid-template-columns: repeat(5, 12%);
  grid-template-rows: repeat(5, 12%);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  background-color: rgb(117, 0, 128);
}
#board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
}

#general-container {
  padding-top: 40px;
}

#on-deck-card-container {
  height: 175px;
  width: 30%;
  float: left;
}

.fill {
  height: 175px;
  width: 35%;
  float: left;
}

.box {
  border: 1px solid rgb(220, 225, 230);
  border-radius: 4px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.sensei {
  border-color: white;
  border-radius: 30px;
}

.highlight {
  background-color: yellow;
}
