/*   G E N E R A L    S T Y L I N G   */

body {
  background-color: blanchedalmond
}

.red-shrine{
  background-color: rgb(87, 4, 4);
}

.blue-shrine{
  background-color: rgb(5, 5, 187);
}

#red-team-container {
  height: 500px;
  float: left;
  width: 30%;
  display: grid;
  grid-template-rows: repeat(3, 33.3%)
}

#board-container {
  float: left;
  width: 40%;
}

#blue-team-container {
  height: 500px;
  float: left;
  width: 30%;
  display: grid;
  grid-template-rows: repeat(3, 33.3%)
}

#board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
}

#general-container {
  padding-top: 10px;
}

#on-deck-card-container {
  height: 175px;
  width: 30%;
  float: left;
}

#indicator-bar {
  width: 100%;
  height: 70px;
  text-align: center;
  color: white;
  opacity: .7
}

.fill {
  /* height: 175px; */
  width: 34%;
  float: left;
}

.box {
  border: 1px solid rgb(220, 225, 230);
  border-radius: 4px;
}


/*   C A R D    A R E A    S T Y L I N G   */

#red-card-2-move, #red-card-1-move, #blue-card-1-move,  #blue-card-2-move, #on-deck-card-move{
  padding-top: 4px;
  padding-left: 4px;
  display: inline-grid;
  text-align: center;
  width: 120px;
  height: 120px;
  grid-template-columns: repeat(5, 12%);
  grid-template-rows: repeat(5, 12%);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  background-color: rgb(21, 195, 218);
}

span{
  background-color: blanchedalmond
}

/* .move {
  background-color: rgb(255, 251, 0);
  color: black;
} */

.character {
  background-color: black;
}
#red-card-1, #red-card-2, #blue-card-1, #blue-card-2, #on-deck-card-container{
  display: grid;
  grid-template-columns: 35% 60%;
  grid-row-gap: 1%;
}

.hidden{
  visibility: hidden;
}


/*   P I E C E   S T Y L I N G   */

.red {
  background-color: red;
  opacity: .7
}

.blue {
  background-color: blue;
  opacity: .7
}

.sensei {
  border-color: white;
  border-radius: 30px;
}

.highlight {
  background-color: rgb(255, 251, 0, .7);
}


/*  K E E P   A T   B O T T O M  */
.move {
  background-color: rgb(255, 251, 0, .7);
  color: black;

}
